.container {
    @include flex-left;

    width: 100%;
    height: 100%;


    &--menu {

        width: 80px;
        height: 100%;

    }

    &--canvas {

    }

    &--stack {
        width: 100px;
        height: 100%;
    }
}