// ボタン
.button {

    &--drawing {
        
        @extend %button--simple;

        font-size: 2.8rem;
        
        width: 80px;
        height: 80px;

        background-color: $lightest; 
        color: $accent-strong;

        &:hover {
            background-color: $accent-strong;
        }
    }

    &--copy {

        @extend %button--simple;

        font-size: 2.2rem;

        width: 90px;
        height: 80px;

        background-color: $lightest; 
        color: $accent-strong;

        &:hover {
            background-color: $accent-strong;
        }
    }

}

// アイコン・スタック
.drawing-icon {
    position: absolute;

    bottom: 20px;
    left: 20px;
}

.stack-thumbnail {
    border: 1px solid #e3e3e3;
}

.cell-area {
    margin-top: 20px;
}

.cell-input {
    $color: ("textColor": $darkest, "accentColor":$accent-strong, "nonActiveColor": $light);
	$scale: ("perWidth": 80px, "height": 32px);
    @include input-simple($color, $scale, 1.0rem);
    
    margin-top: 10px;
}


// ショートカットTIPSの吹き出し
.short-cut-balloon {

    width: 340px;
    height: 220px;

    position: relative;
    
    margin: 20px 10px 20px 100px;
    padding: 10px 20px;
    
    background-color: $accent-middle;
    border-radius: 30px;

    & p {
        font-size: 1.3rem;
        line-height: 1.3;

    }

    &::before {

        content: "";

        position: absolute;
        left: -38px;
        width: 13px;
        height: 12px;
        bottom: 0;

        background-color: $accent-middle;
        border-radius: 50%;

    }

    &::after {

        content: "";

        position: absolute;
        left: -24px;
        width: 20px;
        height: 18px;
        bottom: 3px;

        background-color: $accent-middle;
        border-radius: 50%;
    }
  }
  
  // コピー成功のメッセージ
.copied-message-balloon {

    width: 150px;
    height: 80px;

    position: relative;
    
    margin: 2px 3px 5px 10;
    padding: 30px 15px;
    
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: $light;
    border-radius: 7px;

    &::before {

        content: "";

        position: absolute;
        right: -34px;
        width: 6px;
        height: 5px;
        bottom: 0;

        background-color: $light;
        border-radius: 50%;

    }

    &::after {

        content: "";

        position: absolute;
        right: -12px;
        width: 12px;
        height: 10px;
        bottom: 3px;

        background-color: $light;
        border-radius: 50%;
    }

    &-wrapper {

        position: absolute;
        bottom: 45px;
        right: 170px;

    }
  }